:root {
    --fonte: 18px;
    --larguraBarras: 220px;
    --larguraInv: 80px;
    --paddingInv: 5px;
}

@font-face {
    font-family: fontinha;
    src: url(./fonts/Mahalo_brother.otf);
}

* {
  font-family: fontinha;
  scrollbar-width: thin;
  scrollbar-color: #fff rgb(37, 30, 30);
  /* teste */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(37, 30, 30);
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid rgb(37, 30, 30);
}

body {
    background-color: rgb(37, 30, 30);
    color: #fff;
    margin: 12px;
    text-align: center;
    font-size: var(--fonte);
}

h1 {
  margin-bottom: 24px;
}

#dialogo {
  margin: 12px;
  margin-bottom: 6px;
  text-align: justify;
  display: flex;
  justify-content: center;
}

#continuar {
  color: #fff;
  text-align: end;
  margin-top: 48px;
}

/* teste
#continuar[title]:hover::after {
    content: url('miau.jpg') "aa";
    display: block;
    width: 50px;
}*/

#iContexto {
  white-space: pre-line;
  overflow: auto;
  text-align: justify;
}

input {
  margin-bottom: 6px;
}

input, div.inputInfos {
  background-color: rgb(37, 30, 30);
  border-width: 1.5px;
  border-color: white;
  color: #fff;
  border-radius: 5px;
  border-style: solid;
  outline-style: none;
  padding: 5px;
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.637);
  margin: 12px 12px;
  padding: 5px 0;
  border: none;
  outline-style: none;
  font-size: 20px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all ease 0.2s;
}

button:hover {
    color: #fff;
}

button::after {
    content: '';
    position: relative;
    background-color: transparent;
    height: 1px;
    width: 0;
    display: block;
    transition: all ease 0.2s;
    margin-top: 5px ;
    margin-inline : auto;
}

button:hover::after {
    content: '';
    width: 90%;
    background-color: #fff;
}

/* testes testes e muitos testes
button::before {
    content: '';
    position: absolute;
    border-top: 2px solid white;
    border-left: 2px solid white;  
    height: 0;
    width: 0;
    display: block;
    transition: all ease 0.5s;
    padding: 5px 10px;
}

button:hover::before {
    content: '';
    width: 110px;
    position: absolute;
    height: 20px;
    display: block;
}*/

button:disabled {
  color: rgba(255, 255, 255, 0.637);
  text-decoration: line-through;
}

.inputInfos {
  margin: 6px 24px;
  height: 124.8px;
  word-break: break-word;
  min-width: 220px;
  max-width: 220px;
  text-align: start;
  display: flex;
  flex-direction: column;
  transition: all ease 0.5s;
}

.flexRow {
  display: flex;
  flex-direction: row;
  margin: 0 6px;
  justify-content: space-between;
}

.btnMais, .btnMenos {
  margin: 0 12px;
}

#nivel, #turno {
  text-align: center;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.fichaNivel {
  display: flex;
  justify-content: center;
}

.fichaNivel>div {
  margin: 0 12px;
}

#turnoBicho {
  margin: 18px;
}

#ultimaEscolha, #ultimaAndada, #ultimoEvento, #ultimoEventoVida, #turnoBicho {
  display: none;
}

#turnoBicho>span>div {
  display: inline;
  margin: 1.5px;
  transition: all 0.5s linear;
}

.hud {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.barras {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#textoCondicao {
  display: flex;
  justify-content: center;
}

#textoCondicao>div {
  margin: 0 2px;
}

#condicao {
  font-weight: bold;
}

.inventario {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.magias {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mag {
  padding: 10px 5px;
  width: 80px;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(18, 1, 105);
  margin: 12px;
  transition: all 0.5s linear;
}

.inv {
  padding: calc(var(--paddingInv) * 2) var(--paddingInv);
  width: var(--larguraInv);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;
  border-color: #fff;
  margin: 12px;
}

.progress-bar {
  display: flex;
  height: 8px;
  width: var(--larguraBarras);
  border-radius: 2px;
  border-style: none;
  background-color: rgba(153, 153, 153, 0.397);
  margin: 12px 32px;
}

#barraVida {
  --progress: 100;
  border-color: #8a0707;
}

#barraMana {
  --progress: 100;
  border-color: #04245b;
}

#barraVida::before {
  content: "";
  background-color: #8a0707;
  width: calc(var(--progress) * 1%);
  transition: all 0.2s ease;
}

#barraMana::before {
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: #04245b;
  transition: all 0.2s ease;
}

@media (min-width: 1000px) {
  .inputInfos {
      min-width: 330px;
      max-width: 330px;
      height: 187.2px;
      font-size: calc(var(--fonte) * 1.2);
  }
  .inputInfos > div {
      margin: 3px 6px;
  }
  .progress-bar {
    width: calc(var(--larguraBarras) * 1.5);
  }
  .inv, .mag {
    width: calc(var(--larguraInv) * 1.5);
    padding: calc(var(--paddingInv) * 2.5) calc(calc(var(--paddingInv) * 2) * 1.5);
  }
}

.hover {
  display: none;
  border: 1.5px solid #fff;
  border-radius: 5px;
  background-color: rgba(88, 78, 78, 0.356);
  width: 230px;
}

.hover-img {
  width: 128px;
  height: 128px;
}

.img-hover-border {
  margin: 1pc;
}

.inv:hover .hoverAtivo {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -250px;
  margin-left: -57px;
}